<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="appName" value ="Cafe"/>
    <add key="serverFileName" value ="server.txt"/>
    <add key="server" value =".\neuroogle1"/>
    <add key ="database" value="BDY_CAFE"/>
    <add key ="user" value ="sa"/>
    <add key="password" value ="1453"/>
    <add key="rows" value ="9"/>
    <add key="columns" value ="10"/>
    <add key="tables" value="85"/>
    <add key="messageBoxDuration" value="10"/>
    <add key="sound" value="true"/>
  </appSettings>
</configuration>